* * * * * python /app/cron.py > /proc/1/fd/1 2>/proc/1/fd/2     # Redirect output to stdout so you can see in docker logs
# * * * * * echo "Echo Running !" > /proc/1/fd/1 2>/proc/1/fd/2
# Don't remove the empty line at the end of this file. It is required to run the cron job
